<app-nav></app-nav>

<div class="Form mx-5">
  <div class="container my-4">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/551625/pexels-photo-551625.jpeg"
          alt="Register"
        />
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-2">How You Doin?</h1>
        <h4>Sign up to create your account</h4>
        <form>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="text"
                placeholder="Full Name"
                class="form-control my-3 pt-3"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="email"
                placeholder="Email-Address "
                class="form-control my-3 pt-3"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="password"
                placeholder="Password"
                class="form-control my-3 pt-3"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="password"
                placeholder="Confirm Password"
                class="form-control my-3 pt-3"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <button type="button" class="btn1 mt-3 mb-3">Register</button>
            </div>
          </div>
          <p>Are you a member?<a routerLink="/login">Login </a>👀</p>
        </form>
      </div>
    </div>
  </div>
</div>
