<app-nav></app-nav>

<div class="Form mx-5">
  <div class="container my-4">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img
          class="img-fluid"
          src="https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg"
          alt="Profile Pic"
        />
      </div>

      <div class="col-lg-7 px-5 pt-3">
        <h1 class="font-weight-bold py-3">Add Contact</h1>
        <form #addForm="ngForm" (ngSubmit)="onAdd()">
          <div
            [class]="isError ? 'alert alert-danger' : 'd-none'"
            class="my-3 p-2"
          >
            {{ message }}
          </div>
          <div
            [class]="isSuccess ? 'alert alert-success' : 'd-none'"
            class="my-3 p-2"
          >
            {{ message }}
          </div>

          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="text"
                name="fullname"
                placeholder="Full Name"
                class="form-control my-3 pt-3"
                [(ngModel)]="userData.cname"
                required
                pattern="^[a-zA-Z ]{3,30}$"
                [class.is-invalid]="
                  fname.errors && fname.touched && fname.invalid
                "
                #fname="ngModel"
              />
              <div *ngIf="fname.errors && fname.touched && fname.invalid">
                <div class="text-danger" *ngIf="fname.errors.required">
                  Full name is required
                </div>
                <div class="text-danger" *ngIf="fname.invalid">
                  Full name should be max 30 letters and min 3 letters
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="email"
                name="email"
                placeholder="Email-Address "
                class="form-control my-3 pt-3"
                [class.is-invalid]="
                  email.errors && email.touched && email.invalid
                "
                required
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                [(ngModel)]="userData.cemail"
                #email="ngModel"
              />
              <div *ngIf="email.errors && email.touched && email.invalid">
                <div class="text-danger" *ngIf="email.errors.required">
                  Email-Address is required
                </div>
                <div class="text-danger" *ngIf="email.invalid">
                  Proper Email-Address is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="text"
                required
                name="phone"
                #num="ngModel"
                pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"
                placeholder="Phone Number"
                class="form-control my-3 pt-3"
                [(ngModel)]="userData.cphone"
                [class.is-invalid]="num.errors && num.touched && num.invalid"
              />
              <div *ngIf="num.errors && num.touched && num.invalid">
                <div class="text-danger" *ngIf="num.errors.required">
                  Phone no. is required
                </div>
                <div class="text-danger" *ngIf="num.invalid">
                  Password should be eg:9090312443
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="text"
                required
                name="type"
                #type="ngModel"
                pattern="^(?=.*[A-Za-z0-9])[A-Za-z0-9 _]*$"
                placeholder="Type of Contact"
                class="form-control my-3 pt-3"
                [(ngModel)]="userData.ctype"
                [class.is-invalid]="type.errors && type.touched && type.invalid"
              />
              <div *ngIf="type.errors && type.touched && type.invalid">
                <div class="text-danger" *ngIf="type.errors.required">
                  Type is required
                </div>
                <div class="text-danger" *ngIf="type.invalid">
                  Should contain only numbers and letters
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-7">
              <button class="btn1 mt-3 mb-5" [disabled]="addForm.form.invalid">
                Add Contact
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
